@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');


*{

padding:0;
margin: 0px;
font-family: 'Lexend Deca', sans-serif;

}

:root{

--Bright-orange: hsl(31, 77%, 52%);
--Dark-cyan: hsl(184, 100%, 22%);
--Very-dark-cyan: hsl(179, 100%, 13%);
--Blanco-parrafos: hsla(0, 0%, 100%, 0.75);
--light-gray:hsl(0, 0%, 95%); /* Background, buttons, headings  */
}


.body{

display: flex;
min-height: 100vh;
justify-content: center;
align-items: center;
}

.container{

display: grid;
grid-template-rows:435px 435px 420px;
grid-template-columns: 1fr;
justify-content: center;
padding-right: 30px;
padding-left: 30px;
padding-top:80px;
padding-bottom:80px;


}

.caja1{

background-color: var(--Bright-orange);
border-radius:5px 5px 0px 0px;
}

.caja2{
background-color: var(--Dark-cyan);

}

.caja3{

background-color: var(--Very-dark-cyan);
border-radius:0px 0px 5px 5px;
}


h1{
margin-top: 83px;
font-family:'Big Shoulders Display';
font-size: 40px;
color: white;
padding-left: 44px;
}

article{

font-size: 15px;
color: var(--Blanco-parrafos);
padding-left: 44px;
padding-right: 47px;
margin-top: 26px;
line-height: 25px;
}

.aprende1, .aprende2, .aprende3{

margin-left: 44px;
border-radius: 31px;
height: 50px;
width: 147px;
margin-top: 25px;
border-style: none;

}

.aprende1:hover{

color: var(--Bright-orange);
cursor: pointer;

}

.aprende2:hover{

color: var(--Dark-cyan);
cursor: pointer;
}

.aprende3:hover{

color: var(--Very-dark-cyan);
cursor: pointer;
}

.sedanes{

position: relative;
top:47px;
left: 44px;
}

.suvs{

position: relative;
top:47px;
left: 44px;

}

.luxury{
position: relative;
top:47px;
left: 44px;

}

.attribution{
position: relative;
top: 1px;
left: 3px;
font-size: 10px;

}

@media screen and (min-width: 800px){

.body{

display: flex;
min-height: 100vh;
justify-content: center;
align-items: center;
}

.container{
display: grid;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
grid-template-rows: 435px;
grid-template-columns: 315px 315px 315px;
justify-content: center;


}


.attribution{
position: relative;
    top: 1px;
    left: 0px;


}


}